<div *ngIf="movie">
    <h2>{{movie.title | uppercase}}</h2>
    
    <!-- <div><span>Movie number: </span>{{movie.id}}</div> -->
    <div>
      <label>Title:
        <input [(ngModel)]="movie.title" placeholder="Title"/>
      </label>
      <br>
      <label>Genre:
        <input [(ngModel)]="movie.genre" placeholder="Genre"/>
      </label>
      <br>
      <label>Director:
        <input [(ngModel)]="movie.director" placeholder="Director"/>
      </label>
      <br>
      <label>Date:
        <input [(ngModel)]="movie.date" placeholder="Date"/>
      </label>
      <br>
      <label>Rate:
        <input [(ngModel)]="movie.avgRate" placeholder="Rate"/>
      </label>
      <br>
      <label>Country:
        <input [(ngModel)]="movie.country" placeholder="Country"/>
      </label>
      <br>
      <label>Description:
        <input [(ngModel)]="movie.description" placeholder="Description"/>
      </label>
      <br>
    </div>

    <!--
    
    <p *ngIf="film.title=='Tenet'">  
      <br>
      <img class="img-responsive"  src="assets\img\tenet.jpg" width="300" style="vertical-align:middle;margin:0px 0px"> 
  </p>  

    <p *ngIf="film.title=='Dunkirk'">  
      <br>
      <img class="img-responsive"  src="assets\img\dunkirk.jpg" width="300"> 
  </p>  

    <p *ngIf="film.title=='Interstellar'">  
      <br>
      <img class="img-responsive"  src="assets\img\interstellar.jpg" width="300"> 
  </p>  

    <p *ngIf="film.title=='The Dark Knight Rises'">  
      <br>
      <img class="img-responsive"  src="assets\img\darkknightrises.jpg" width="300"> 
  </p>  

    <p *ngIf="film.title=='Inception'">  
      <br>
      <img class="img-responsive"  src="assets\img\inception.jpg" width="300"> 
  </p>  

    <p *ngIf="film.title=='The Dark Knight'">  
      <br>
      <img class="img-responsive"  src="assets\img\darkknight.jpg" width="300"> 
  </p>  

    <p *ngIf="film.title=='The Prestige'">  
      <br>
      <img class="img-responsive"  src="assets\img\prestige.jpg" width="300"> 
  </p>  

    <p *ngIf="film.title=='Batman Begins'">  
      <br>
      <img class="img-responsive"  src="assets\img\batman.jpg" width="300"> 
  </p>  

     <button (click)="goBack()">go back</button> 
     <button (click)="save()">save</button> 
  </div> -->

 