/* body {
  padding-top:50px;
}
fieldset {
  border: thin solid #ccc;
  border-radius: 4px;
  padding: 20px;
  padding-left: 40px;
  background: #fbfbfb;
}
legend {
 color: #678;
}
.form-control {
  width: 95%;
}
label small {
  color: #678 !important;
}
span.req {
  color:maroon;
  font-size: 112%;
} */

/* MoviesComponent's private CSS styles */
/* .movies {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.movies li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.movies li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.movies li.selected {
  background-color: #CFD8DC;
  color: white;
}
.movies li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.movies .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
} */
button{
  margin-right: 0.25cm;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: black !important;
}

.mat-form-field .placeholder {
  color: #000000;
}

.mat-focused .placeholder {
  color: rgb(85, 2, 85);
}