<div *ngIf="movie">
    <h2>{{movie.title}}</h2>
    
    <!-- <div><span>Movie number: </span>{{movie.id}}</div> -->
    <div>
      <label>Title:
        <mat-form-field class="example-full-width">
          <textarea matInput [(ngModel)]="movie.title" name="title" id="title"
          class="form-control phone" maxlength="28" placeholder="Enter movie title"></textarea>
        </mat-form-field>
      </label>
      <br>
      <label>Genre:
        <mat-form-field class="example-full-width">
          <textarea matInput [(ngModel)]="movie.genre" name="genre" id="genre"
          class="form-control phone" maxlength="28" placeholder="Enter movie genre"></textarea>
        </mat-form-field>
      </label>
      <br>
      <label>Director:
        <mat-form-field class="example-full-width">
          <textarea matInput [(ngModel)]="movie.director" name="director" id="director"
          class="form-control phone" maxlength="28" placeholder="Enter movie director"></textarea>
        </mat-form-field>
      </label>
      <br>
      <label>Rate:
        <mat-form-field class="example-full-width">
          <textarea matInput [(ngModel)]="movie.avgRate" name="rate" id="rate"
          class="form-control phone" maxlength="28" placeholder="Enter movie rate"></textarea>
        </mat-form-field>
      </label>
      <br>
      <label>Country:
        <mat-form-field class="example-full-width">
          <textarea matInput [(ngModel)]="movie.country" name="country" id="country"
          class="form-control phone" maxlength="28" placeholder="Enter movie country"></textarea>
        </mat-form-field>
      </label>
      <br>
      <label>Description:
        <mat-form-field class="example-full-width">
          <textarea matInput [(ngModel)]="movie.description" name="description" id="description"
          class="form-control phone" maxlength="28" placeholder="Enter movie description"></textarea>
        </mat-form-field>
      </label>
      <br><br>
      <button class="delete" title="delete movie"
          (click)="deleteMovie(movie)">Delete Movie
        </button>
      <button class="btn btn submit"
          (click)="updateMovie(movie)">Update Movie
        </button>
    </div>

    
    
    
    
    <p *ngIf="movie.title=='Tenet'">  
      <br>
      <img class="img-responsive"  src="assets\img\tenet.jpg" width="300" style="vertical-align:middle;margin:0px 0px"> 
  </p>  

    <p *ngIf="movie.title=='Dunkirk'">  
      <br>
      <img class="img-responsive"  src="assets\img\dunkirk.jpg" width="300"> 
  </p>  

    <p *ngIf="movie.title=='Interstellar'">  
      <br>
      <img class="img-responsive"  src="assets\img\interstellar.jpg" width="300"> 
  </p>  

    <p *ngIf="movie.title=='The Dark Knight Rises'">  
      <br>
      <img class="img-responsive"  src="assets\img\darkknightrises.jpg" width="300"> 
  </p>  

    <p *ngIf="movie.title=='Inception'">  
      <br>
      <img class="img-responsive"  src="assets\img\inception.jpg" width="300"> 
  </p>  

    <p *ngIf="movie.title=='The Dark Knight'">  
      <br>
      <img class="img-responsive"  src="assets\img\darkknight.jpg" width="300"> 
  </p>  

    <p *ngIf="movie.title=='The Prestige'">  
      <br>
      <img class="img-responsive"  src="assets\img\prestige.jpg" width="300"> 
  </p>  

    <p *ngIf="movie.title=='Batman Begins'">  
      <br>
      <img class="img-responsive"  src="assets\img\batman.jpg" width="300"> 
  </p>  

  </div> 

 