/* AppComponent's private CSS styles */
/* h1 {
    font-size: 2em;
    margin-bottom: 0;
    padding-top: 0;
  }
  h2 {
    font-size: 1.2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  } */

  /* MoviesComponent's private CSS styles */
.movies {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .movies li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .movies li:hover {
    color: #30393d;
    background-color: #DDD;
    left: .1em;
  }
  .movies li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .movies li.selected:hover {
    background-color: #484658;
    color: white;
  }
  .movies .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#2f502c;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .mat-selection-list {
    color: #000000;
  }
  
  .mat-focused .placeholder {
    color: rgb(85, 2, 85);
  }
