<app-movies-list></app-movies-list> 


<!-- 

<h2>My Movies</h2>
<ul class="movies">
  <li *ngFor="let movie of movies"
    [class.selected]="movie === selectedMovie"
    (click)="onSelect(movie)">
    <span class="badge">{{movie.id}}</span> {{movie.title}}
  </li>
</ul>


<app-movie-detail [movie]="selectedMovie"></app-movie-detail>

-->





<!--
<div>
  <label>Movie title:
    <input #movieTitle />
  </label>





  -->

  <!-- (click) passes input value to add() and then clears the input -->

  <!--
  <button (click)="add(movieTitle.value); movieTitle.value=''">
    add
  </button>
</div>

-->

<!--

<ul class="movies">
  <li *ngFor="let movie of movies">
    <a routerLink="/detail/{{movie.id}}">
      <span class="badge">{{movie.id}}</span> {{movie.title}}
    </a>
    <button class="delete" title="delete movie"
      (click)="delete(movie)">X</button>
  </li>
</ul>

-->


<!--
<div class="from-group">
  <input class="btn btn-success" type="submit" name="submit_reg" value="Add Movie REST" (click)="addMovieE()">
</div>
-->


<!-- 
<ul class="movies">
  <li *ngFor="let movie of movies">
    <a routerLink="/detail/{{movie.id}}">
      <span class="badge">{{movie.id}}</span> {{movie.title}}
    </a>
  </li>
</ul>
<div>
  <label>Movie title:
    <input #movieTitle />
  </label>-->

  <!-- (click) passes input value to add() and then clears the input -->
  <!--
  <button (click)="add(movieTitle.value); heroTitle.value=''">
    add
  </button>
</div>

<button class="delete" title="delete movie"
  (click)="delete(movie)">x</button>
-->
<!-- 
<app-movie-detail [movie]="selectedMovie"></app-movie-detail>-->


<!--
<h2>My Films</h2>
<ul class="films">
  <li *ngFor="let film of films"
    [class.selected]="film === selectedFilm"
    (click)="onSelect(film)">
    <span class="badge">{{film.id}}</span> {{film.title}}
  </li>
</ul>

<app-movie-detail [film]="selectedFilm"></app-movie-detail> -->

